*
    margin: 0
    padding: 0

ul
    list-style: none

.container
    width: 500px
    margin: 0 auto
    background: #ccc

.logo
    text-align: center

.article
    height: 100%
    text-align: center
    &__img
        width: 98%
    &__input
        width: 300px
        height: 40px
        line-height: 40px
    &__btn
        height: 40px
        padding: 5px 15px
        border-radius: 5px

.gaming
    &__img
        width: 50px
        height: 50px
        border: 0
        output: 0
